In [171]:
import pandas as pd
import random
from pandas import Series, DataFrame
import numpy as np
from numpy.random import randint
data=np.random.random(size=(50, 3))

In [172]:
x = np.random.randint(0,50,5)
print(x)
y = random.sample(range(0,3),3)
print(y)

'''val=pd.Series([np.nan],index=x)
for i in y:
    df1[i]=val


for i in x:
    for j in y:
        df1.iloc[i][j] = np.nan'''

for i in x:
    for j in y:
        data[i][j] = np.nan
        
df1 = pd.DataFrame(data)
df1

[31  4 14  0 36]
[2, 0, 1]

           0         1         2
0        NaN       NaN       NaN
1   0.164859  0.114254  0.360295
2   0.092746  0.708370  0.745233
3   0.778601  0.284811  0.553713
4        NaN       NaN       NaN
5   0.976687  0.043667  0.392613
6   0.041024  0.201285  0.804691
7   0.694776  0.452806  0.247392
8   0.977444  0.018117  0.288746
9   0.412763  0.946575  0.822517
10  0.987615  0.443256  0.389220
11  0.877142  0.366965  0.125294
12  0.615891  0.783251  0.168078
13  0.653466  0.225862  0.713643
14       NaN       NaN       NaN
15  0.343552  0.130707  0.176973
16  0.842451  0.588141  0.456757
17  0.223946  0.631945  0.381463
18  0.410989  0.985939  0.311981
19  0.543279  0.702968  0.789426
20  0.282851  0.064776  0.518573
21  0.965320  0.830523  0.737519
22  0.653195  0.879070  0.272284
23  0.378166  0.901225  0.549711
24  0.501582  0.040157  0.296596
25  0.613028  0.132446  0.982188
26  0.053331  0.789430  0.906210
27  0.226887  0.375062  0.223218
28  0.573627  0.371515  0.586200
29  0.791713  0.479988  0.916533
30  0.767618  0.003379  0.533426
31       NaN       NaN       NaN
32  0.591939  0.567643  0.223507
33  0.270550  0.624943  0.060164
34  0.511332  0.247340  0.580945
35  0.694071  0.103466  0.207757
36       NaN       NaN       NaN
37  0.931107  0.475639  0.080314
38  0.849552  0.831029  0.709642
39  0.863474  0.015371  0.182499
40  0.696085  0.759693  0.338928
41  0.133516  0.007171  0.375674
42  0.419161  0.829476  0.955843
43  0.744150  0.883179  0.513073
44  0.307101  0.547336  0.751640
45  0.202588  0.624013  0.262929
46  0.858711  0.732930  0.598080
47  0.062181  0.420345  0.433878
48  0.582442  0.464289  0.850047
49  0.684656  0.564160  0.321185

In [173]:
#indexes of null values
np.argwhere(np.isnan(data))

array([[ 0,  0],
       [ 0,  1],
       [ 0,  2],
       [ 4,  0],
       [ 4,  1],
       [ 4,  2],
       [14,  0],
       [14,  1],
       [14,  2],
       [31,  0],
       [31,  1],
       [31,  2],
       [36,  0],
       [36,  1],
       [36,  2]], dtype=int32)

In [175]:
#counting null values
print(np.count_nonzero(np.isnan(data)))

15

(array([0], dtype=int32),)

In [176]:
#deleting rows where null values are greater than 5
for i in range(0,3):
    count=0
    count=df1[i].isna().sum()
    print("Column ",i," : ",count)
    if count>5:
        del df2[i]
print(df1)

Column  0  :  5
Column  1  :  5
Column  2  :  5
           0         1         2
0        NaN       NaN       NaN
1   0.164859  0.114254  0.360295
2   0.092746  0.708370  0.745233
3   0.778601  0.284811  0.553713
4        NaN       NaN       NaN
5   0.976687  0.043667  0.392613
6   0.041024  0.201285  0.804691
7   0.694776  0.452806  0.247392
8   0.977444  0.018117  0.288746
9   0.412763  0.946575  0.822517
10  0.987615  0.443256  0.389220
11  0.877142  0.366965  0.125294
12  0.615891  0.783251  0.168078
13  0.653466  0.225862  0.713643
14       NaN       NaN       NaN
15  0.343552  0.130707  0.176973
16  0.842451  0.588141  0.456757
17  0.223946  0.631945  0.381463
18  0.410989  0.985939  0.311981
19  0.543279  0.702968  0.789426
20  0.282851  0.064776  0.518573
21  0.965320  0.830523  0.737519
22  0.653195  0.879070  0.272284
23  0.378166  0.901225  0.549711
24  0.501582  0.040157  0.296596
25  0.613028  0.132446  0.982188
26  0.053331  0.789430  0.906210
27  0.226887  0.375062  0.223218
28  0.573627  0.371515  0.586200
29  0.791713  0.479988  0.916533
30  0.767618  0.003379  0.533426
31       NaN       NaN       NaN
32  0.591939  0.567643  0.223507
33  0.270550  0.624943  0.060164
34  0.511332  0.247340  0.580945
35  0.694071  0.103466  0.207757
36       NaN       NaN       NaN
37  0.931107  0.475639  0.080314
38  0.849552  0.831029  0.709642
39  0.863474  0.015371  0.182499
40  0.696085  0.759693  0.338928
41  0.133516  0.007171  0.375674
42  0.419161  0.829476  0.955843
43  0.744150  0.883179  0.513073
44  0.307101  0.547336  0.751640
45  0.202588  0.624013  0.262929
46  0.858711  0.732930  0.598080
47  0.062181  0.420345  0.433878
48  0.582442  0.464289  0.850047
49  0.684656  0.564160  0.321185